.bg-change {
    background-image:
        linear-gradient(to bottom, rgba(255, 243, 205, 0.20), rgba(207, 226, 255, 0.40)),
        url('../../images/background/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// BOOTSTRAP COLOR
// primary
.bg-primary-100 {
    background-color: $primary-100;
}

.bg-primary-200 {
    background-color: $primary-200;
}

.bg-primary-300 {
    background-color: $primary-300;
}

.bg-primary-400 {
    background-color: $primary-400;
}

.bg-primary-500 {
    background-color: $primary-500;
}

.bg-primary-600 {
    background-color: $primary-600;
}

.bg-primary-700 {
    background-color: $primary-700;
}

.bg-primary-800 {
    background-color: $primary-800;
}

.bg-primary-900 {
    background-color: $primary-900;
}


// BOOTSTRAP COLOR
// primary
.bg-gray-100 {
    background-color: $gray-100;
}

.bg-gray-200 {
    background-color: $gray-200;
}

.bg-gray-300 {
    background-color: $gray-300;
}

.bg-gray-400 {
    background-color: $gray-400;
}

.bg-gray-500 {
    background-color: $gray-500;
}

.bg-gray-600 {
    background-color: $gray-600;
}

.bg-gray-700 {
    background-color: $gray-700;
}

.bg-gray-800 {
    background-color: $gray-800;
}

.bg-gray-900 {
    background-color: $gray-900;
}


.bg-instagram {
    background: rgb(247, 208, 1) !important;
    background: -moz-linear-gradient(45deg, rgba(247, 208, 1, 1) 25%, rgba(247, 6, 13, 1) 50%, rgba(124, 57, 173, 1) 75%) !important;
    background: -webkit-linear-gradient(45deg, rgba(247, 208, 1, 1) 25%, rgba(247, 6, 13, 1) 50%, rgba(124, 57, 173, 1) 75%) !important;
    background: linear-gradient(45deg, rgba(247, 208, 1, 1) 25%, rgba(247, 6, 13, 1) 50%, rgba(124, 57, 173, 1) 75%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7d001", endColorstr="#7c39ad", GradientType=1) !important;
}

.bg-facebook {
    background: rgb(25, 119, 243) !important;
    background: -moz-linear-gradient(45deg, rgba(25, 119, 243, 1) 25%, rgba(25, 119, 243, 1) 50%, rgba(25, 119, 243, 1) 75%) !important;
    background: -webkit-linear-gradient(45deg, rgba(25, 119, 243, 1) 25%, rgba(25, 119, 243, 1) 50%, rgba(25, 119, 243, 1) 75%) !important;
    background: linear-gradient(45deg, rgba(25, 119, 243, 1) 25%, rgba(25, 119, 243, 1) 50%, rgba(25, 119, 243, 1) 75%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1977f3", endColorstr="#1977f3", GradientType=1) !important;
}

.bg-twitter {
    background: rgb(0, 162, 245) !important;
    background: -moz-linear-gradient(45deg, rgba(0, 162, 245, 1) 25%, rgba(0, 162, 245, 1) 50%, rgba(0, 162, 245, 1) 75%) !important;
    background: -webkit-linear-gradient(45deg, rgba(0, 162, 245, 1) 25%, rgba(0, 162, 245, 1) 50%, rgba(0, 162, 245, 1) 75%) !important;
    background: linear-gradient(45deg, rgba(0, 162, 245, 1) 25%, rgba(0, 162, 245, 1) 50%, rgba(0, 162, 245, 1) 75%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a2f5", endColorstr="#00a2f5", GradientType=1) !important;
}

.bg-youtube {
    background: rgb(250, 0, 1) !important;
    background: -moz-linear-gradient(45deg, rgba(250, 0, 1, 1) 25%, rgba(250, 0, 1, 1) 50%, rgba(250, 0, 1, 1) 75%) !important;
    background: -webkit-linear-gradient(45deg, rgba(250, 0, 1, 1) 25%, rgba(250, 0, 1, 1) 50%, rgba(250, 0, 1, 1) 75%) !important;
    background: linear-gradient(45deg, rgba(250, 0, 1, 1) 25%, rgba(250, 0, 1, 1) 50%, rgba(250, 0, 1, 1) 75%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa0001", endColorstr="#fa0001", GradientType=1) !important;
}


.text-facebook {
    color: rgb(25, 119, 243) !important;
}

.text-instagram {
    background: #F7D001 !important;
    background: -webkit-radial-gradient(circle farthest-corner at bottom left, #F7D001 0%, #F7060D 50%, #7C39AD 100%) !important;
    background: -moz-radial-gradient(circle farthest-corner at bottom left, #F7D001 0%, #F7060D 50%, #7C39AD 100%) !important;
    background: radial-gradient(circle farthest-corner at bottom left, #F7D001 0%, #F7060D 50%, #7C39AD 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.text-twitter {
    color: rgb(0, 162, 245) !important;
}

.text-youtube {
    color: rgb(250, 0, 1) !important;
}