.fluid-padding {
    transition: 0.5s;
    @include px($s5);

    @include breakpoint-lg {
        @include px($s2);
    }

    @include breakpoint-md {
        @include px($s2);
    }
}

.fluid-padding-y {
    transition: 0.5s;
    @include py($s3);

    @include breakpoint-lg {
        @include py($s2);
    }

    @include breakpoint-md {
        @include py($s2);
    }
}

.lh-1 {
    line-height: 1;
}

.w-50px-md {
    width: 50px !important;

    @include breakpoint-md {
        width: 40px !important;
    }

    @include breakpoint-sm {
        width: 50px !important;
    }
}

.w-50px-sm {
    width: 40px !important;

    @include breakpoint-sm {
        margin-right: 4px !important;
        margin-left: 4px !important;
        // width: 70px !important;
    }
}

#AddPostContent {
    outline: 0px solid $transparent;
    min-height: 100px;
    height: auto;
    cursor: auto;

    &:empty:before {
        content: "What are you thinking?";
        cursor: auto;
        color: $gray-500;
    }

    &:focus {
        // content: '';
        border-color: #0a58ca;
        box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
    }

    .span-placeholder {
        color: $gray-500;
    }

}

// [contenteditable]:empty::before {
//     // content: attr(placeholder);
//     content: "What are you thinking?";
//     cursor: auto;
//     color: $gray-500;
// }


// [contenteditable][placeholder]:empty:focus::before {
//     content: '' !important;
// }


[placeholder]:empty:focus:before {
    content: '';
}