.navigation-bar {
    border-bottom: 3px solid $warning;

    .div-flex {
        height: 60px;
    }

    .brand {
        .brand-name {

            @include breakpoint-xls-up {
                font-size: calc(1.3rem + 0.6vw) !important;
            }

            @include breakpoint-xls {
                font-size: 1.3rem !important;
            }

            @include breakpoint-xl {
                display: block;
            }

            @include breakpoint-lg {
                display: block;
                font-size: 1.3rem !important;
            }

            @include breakpoint-md {
                font-size: 1.4rem;
            }

            @include breakpoint-sm {
                display: none;
            }
        }
    }

    .navigation {

        a.nav-link,
        button.nav-link {
            // border: 1px solid red;

            @include breakpoint-xl {
                @include mx($s2);
                @include px($s3);
            }

            @include breakpoint-lg {
                @include mx($s1);
                @include px($s3);
            }

            span {
                @include breakpoint-xl {
                    display: none;
                }
            }
        }


        button.dropdown-btn {
            // border: 1px solid red !important;

            @include breakpoint-lg {
                @include mx($s1);
            }

            .span-name {
                @include breakpoint-lg {
                    display: none;
                }
            }
        }

        a.dropdown-link.btn {
            border: 1px solid $transparent !important;
        }
    }
}