.card {

    &.card-assessment-tabs {
        .card-header {
            .card-header-list {
                width: 24%;

                @include breakpoint-md {
                    width: 48%;

                    #btnClassProject,
                    #btnClassMajorExam {
                        margin-top: $s2;
                    }
                }
            }

            #btnClassProject,
            #btnClassMajorExam {
                @include breakpoint-md {
                    margin-top: $s2;
                }
            }
        }
    }

    &.profile-tabs {
        .profile-tabs-buttons {
            @include breakpoint-md-up {
                width: 50% !important;
            }

            @include breakpoint-md {
                width: 80% !important;
            }

            .profile-tabs-buttons {
                @include breakpoint-md-up {
                    width: 49% !important;
                }

                @include breakpoint-md {
                    width: 49% !important;
                }
            }
        }
    }

    .card-body {
        .img-post {
            max-height: 300px !important;
            overflow: hidden;

            img {
                width: 100% !important;
                max-height: 300px !important;
                object-fit: contain !important;
                overflow: hidden;
            }
        }
    }


}