.selectized {
    border: 1px solid $primary !important;

    .selectize-control {
        border: 1px solid $primary !important;

        &.single {
            border: 1px solid $primary !important;
        }

        .selectize-input {
            border: 1px solid $primary !important;

            &.items {
                border: 1px solid $primary !important;
            }

            &.items {
                border: 1px solid $primary !important;
            }

            &.not-full {
                border: 1px solid $primary !important;
            }

            &.has-options {
                border: 1px solid $primary !important;
            }

            input {
                border: 1px solid $primary !important;
            }
        }

    }
}