.w-5 {
    width: 5% !important;
}

.w-6 {
    width: 6% !important;
}

.w-7 {
    width: 7% !important;
}

.w-8 {
    width: 8% !important;
}

.w-9 {
    width: 9% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-24 {
    width: 24% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-46 {
    width: 46% !important;
}

.w-47 {
    width: 47% !important;
}

.w-48 {
    width: 48% !important;
}

.w-49 {
    width: 49% !important;
}

.w-50 {
    width: 50% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-75 {
    width: 75% !important;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.w-100 {
    width: 100% !important;
}

.w-full {
    min-height: 100vw !important;
}

// width min
.w-5min {
    min-width: 5% !important;
}

.w-6min {
    min-width: 6% !important;
}

.w-7min {
    min-width: 7% !important;
}

.w-8min {
    min-width: 8% !important;
}

.w-9min {
    min-width: 9% !important;
}

.w-10min {
    min-width: 10% !important;
}

.w-15min {
    min-width: 15% !important;
}

.w-20min {
    min-width: 20% !important;
}

.w-25min {
    min-width: 25% !important;
}

.w-30min {
    min-width: 30% !important;
}

.w-35min {
    min-width: 35% !important;
}

.w-40min {
    min-width: 40% !important;
}

.w-45min {
    min-width: 45% !important;
}

.w-46min {
    min-width: 46% !important;
}

.w-47min {
    min-width: 47% !important;
}

.w-48min {
    min-width: 48% !important;
}

.w-49min {
    min-width: 49% !important;
}

.w-50min {
    min-width: 50% !important;
}

.w-55min {
    min-width: 55% !important;
}

.w-60min {
    min-width: 60% !important;
}

.w-65min {
    min-width: 65% !important;
}

.w-70min {
    min-width: 70% !important;
}

.w-75min {
    min-width: 75% !important;
}

.w-80min {
    min-width: 80% !important;
}

.w-85min {
    min-width: 85% !important;
}

.w-90min {
    min-width: 90% !important;
}

.w-95min {
    min-width: 95% !important;
}

.w-100min {
    min-width: 100% !important;
}


// width PX
.w-5px {
    width: 5px !important;
}

.w-6px {
    width: 6px !important;
}

.w-7px {
    width: 7px !important;
}

.w-8px {
    width: 8px !important;
}

.w-9px {
    width: 9px !important;
}

.w-10px {
    width: 10px !important;
}

.w-15px {
    width: 15px !important;
}

.w-20px {
    width: 20px !important;
}

.w-25px {
    width: 25px !important;
}

.w-30px {
    width: 30px !important;
}

.w-35px {
    width: 35px !important;
}

.w-40px {
    width: 40px !important;
}

.w-45px {
    width: 45px !important;
}

.w-46px {
    width: 46px !important;
}

.w-47px {
    width: 47px !important;
}

.w-48px {
    width: 48px !important;
}

.w-49px {
    width: 49px !important;
}

.w-50px {
    width: 50px !important;
}

.w-55px {
    width: 55px !important;
}

.w-60px {
    width: 60px !important;
}

.w-65px {
    width: 65px !important;
}

.w-70px {
    width: 70px !important;
}

.w-75px {
    width: 75px !important;
}

.w-80px {
    width: 80px !important;
}

.w-85px {
    width: 85px !important;
}

.w-90px {
    width: 90px !important;
}

.w-95px {
    width: 95px !important;
}

.w-100px {
    width: 100px !important;
}

// WIDTH PX MIN
.w-5px-min {
    min-width: 5px !important;
}

.w-6px-min {
    min-width: 6px !important;
}

.w-7px-min {
    min-width: 7px !important;
}

.w-8px-min {
    min-width: 8px !important;
}

.w-9px-min {
    min-width: 9px !important;
}

.w-10px-min {
    min-width: 10px !important;
}

.w-15px-min {
    min-width: 15px !important;
}

.w-20px-min {
    min-width: 20px !important;
}

.w-25px-min {
    min-width: 25px !important;
}

.w-30px-min {
    min-width: 30px !important;
}

.w-35px-min {
    min-width: 35px !important;
}

.w-40px-min {
    min-width: 40px !important;
}

.w-45px-min {
    min-width: 45px !important;
}

.w-46px-min {
    min-width: 46px !important;
}

.w-47px-min {
    min-width: 47px !important;
}

.w-48px-min {
    min-width: 48px !important;
}

.w-49px-min {
    min-width: 49px !important;
}

.w-50px-min {
    min-width: 50px !important;
}

.w-55px-min {
    min-width: 55px !important;
}

.w-60px-min {
    min-width: 60px !important;
}

.w-65px-min {
    min-width: 65px !important;
}

.w-70px-min {
    min-width: 70px !important;
}

.w-75px-min {
    min-width: 75px !important;
}

.w-80px-min {
    min-width: 80px !important;
}

.w-85px-min {
    min-width: 85px !important;
}

.w-90px-min {
    min-width: 90px !important;
}

.w-95px-min {
    min-width: 95px !important;
}

.w-100px-min {
    min-width: 100px !important;
}

.h-50px-min {
    min-height: 50px !important;
}

.h-60px-min {
    min-height: 60px !important;
}

// HEIGHT
.h-5 {
    height: 5% !important;
}

.h-10 {
    height: 10% !important;
}

.h-15 {
    height: 15% !important;
}

.h-20 {
    height: 20% !important;
}

.h-25 {
    height: 25% !important;
}

.h-30 {
    height: 30% !important;
}

.h-35 {
    height: 35% !important;
}

.h-40 {
    height: 40% !important;
}

.h-45 {
    height: 45% !important;
}

.h-50 {
    height: 50% !important;
}

.h-55 {
    height: 55% !important;
}

.h-60 {
    height: 60% !important;
}

.h-65 {
    height: 65% !important;
}

.h-70 {
    height: 70% !important;
}

.h-75 {
    height: 75% !important;
}

.h-80 {
    height: 80% !important;
}

.h-85 {
    height: 85% !important;
}

.h-90 {
    height: 90% !important;
}

.h-95 {
    height: 95% !important;
}

.h-100 {
    height: 100% !important;
}


// MIN HEIGHT
.h-fullmin {
    min-height: 100vh !important;
}

.h-5min {
    min-height: 5vh !important;
}

.h-10min {
    min-height: 10vh !important;
}

.h-15min {
    min-height: 15vh !important;
}

.h-20min {
    min-height: 20vh !important;
}

.h-25min {
    min-height: 25vh !important;
}

.h-30min {
    min-height: 30vh !important;
}

.h-35min {
    min-height: 35vh !important;
}

.h-40min {
    min-height: 40vh !important;
}

.h-45min {
    min-height: 45vh !important;
}

.h-50min {
    min-height: 50vh !important;
}

.h-55min {
    min-height: 55vh !important;
}

.h-60min {
    min-height: 60vh !important;
}

.h-65min {
    min-height: 65vh !important;
}

.h-70min {
    min-height: 70vh !important;
}

.h-71min {
    min-height: 71vh !important;
}

.h-72min {
    min-height: 72vh !important;
}

.h-73min {
    min-height: 73vh !important;
}

.h-74min {
    min-height: 74vh !important;
}

.h-75min {
    min-height: 75vh !important;
}

.h-76min {
    min-height: 76vh !important;
}

.h-77min {
    min-height: 77vh !important;
}

.h-78min {
    min-height: 78vh !important;
}

.h-79min {
    min-height: 79vh !important;
}

.h-80min {
    min-height: 80vh !important;
}

.h-81min {
    min-height: 81vh !important;
}

.h-82min {
    min-height: 82vh !important;
}

.h-83min {
    min-height: 83vh !important;
}

.h-84min {
    min-height: 84vh !important;
}

.h-85min {
    min-height: 85vh !important;
}

.h-86min {
    min-height: 86vh !important;
}

.h-87min {
    min-height: 87vh !important;
}

.h-87min_ {
    min-height: 87.5vh !important;
}

.h-88min {
    min-height: 88vh !important;
}

.h-88min_ {
    min-height: 88.5vh !important;
}

.h-89min {
    min-height: 89vh !important;
}

.h-90min {
    min-height: 90vh !important;
}

.h-91min {
    min-height: 91vh !important;
}

.h-92min {
    min-height: 92vh !important;
}

.h-93min {
    min-height: 93vh !important;
}

.h-94min {
    min-height: 94vh !important;
}

.h-95min {
    min-height: 95vh !important;
}

.h-96min {
    min-height: 96vh !important;
}

.h-97min {
    min-height: 97vh !important;
}

.h-98min {
    min-height: 98vh !important;
}

.h-99min {
    min-height: 99vh !important;
}

.h-100min {
    min-height: 100vh !important;
}

// MIN HEIGHT
.h-fullmax {
    max-height: 100vh !important;
}

.h-5max {
    max-height: 5vh !important;
}

.h-10max {
    max-height: 10vh !important;
}

.h-15max {
    max-height: 15vh !important;
}

.h-20max {
    max-height: 20vh !important;
}

.h-25max {
    max-height: 25vh !important;
}

.h-30max {
    max-height: 30vh !important;
}

.h-35max {
    max-height: 35vh !important;
}

.h-40max {
    max-height: 40vh !important;
}

.h-45max {
    max-height: 45vh !important;
}

.h-50max {
    max-height: 50vh !important;
}

.h-55max {
    max-height: 55vh !important;
}

.h-60max {
    max-height: 60vh !important;
}

.h-65max {
    max-height: 65vh !important;
}

.h-70max {
    max-height: 70vh !important;
}

.h-71max {
    max-height: 71vh !important;
}

.h-72max {
    max-height: 72vh !important;
}

.h-73max {
    max-height: 73vh !important;
}

.h-74max {
    max-height: 74vh !important;
}

.h-75max {
    max-height: 75vh !important;
}

.h-76max {
    max-height: 76vh !important;
}

.h-77max {
    max-height: 77vh !important;
}

.h-78max {
    max-height: 78vh !important;
}

.h-79max {
    max-height: 79vh !important;
}

.h-80max {
    max-height: 80vh !important;
}

.h-81max {
    max-height: 81vh !important;
}

.h-82max {
    max-height: 82vh !important;
}

.h-83max {
    max-height: 83vh !important;
}

.h-84max {
    max-height: 84vh !important;
}

.h-85max {
    max-height: 85vh !important;
}

.h-86max {
    max-height: 86vh !important;
}

.h-87max {
    max-height: 87vh !important;
}

.h-87max_ {
    max-height: 87.5vh !important;
}

.h-88max {
    max-height: 88vh !important;
}

.h-88max_ {
    max-height: 88.5vh !important;
}

.h-89max {
    max-height: 89vh !important;
}

.h-90max {
    max-height: 90vh !important;
}

.h-91max {
    max-height: 91vh !important;
}

.h-92max {
    max-height: 92vh !important;
}

.h-93max {
    max-height: 93vh !important;
}

.h-94max {
    max-height: 94vh !important;
}

.h-95max {
    max-height: 95vh !important;
}

.h-96max {
    max-height: 96vh !important;
}

.h-97max {
    max-height: 97vh !important;
}

.h-98max {
    max-height: 98vh !important;
}

.h-99max {
    max-height: 99vh !important;
}

.h-100max {
    max-height: 100vh !important;
}

.box-36 {
    height: 36px !important;
    width: 36px !important;
    align-items: center;
}

.box-50 {
    height: 50px !important;
    width: 50px !important;
}

.h-50px {
    height: 50px !important;
    width: auto !important;
    display: flex;
    align-items: center;
}

.h-100px {
    height: 100px !important;
    width: auto !important;
    display: flex;
    align-items: center;
}


.h-150px {
    max-height: 150px !important;
    width: auto !important;
    display: flex;
    align-items: center;
}

.h-200px-minmax {
    min-height: 200px !important;
    max-height: 200px !important;
    width: 100% !important;
    display: flex;
    align-items: center;
}

.h-200px-max {
    min-height: 200px !important;
    max-height: 200px !important;
    width: 100% !important;
}



.w-50-md {
    @include breakpoint-md-up {
        width: 50% !important;
    }

    @include breakpoint-md {
        width: 100% !important;
    }
}


.h-body {
    min-height: calc(100vh - 40px) !important;
}

.h-main {
    min-height: calc(100vh - (63px + 40px));
    max-height: calc(100vh - (63px + 40px));
}

.box-25s {}