*,
*::before,
*::after {
  box-sizing: border-box;
  // @include transition (0.2s);
}

body {
  font-family: $text;
  overflow-x: hidden !important;
  @include mp(0);
  background-color: $gray-200 !important;
  // @include transition (0.2s);
}


a {
  font-family: $title;
  text-decoration: none;
}

p {
  @include mp(0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title;
  @include mp(0);
}


ul {
  li {
    @include mp(0);
    // list-style: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  // margin: 0;
}

.textarea-1 {
  min-height: 3em !important;
}

.textarea-2 {
  min-height: 4em !important;
}


.textarea-3 {
  min-height: 5em !important;
}

.ispan-sm {
  span {
    @include breakpoint-sm {
      display: none !important;
    }
  }
}

.ispan-md {
  span {
    @include breakpoint-md {
      display: none !important;
    }
  }
}