.profile {
    display: flex;
    justify-content: start;
    align-self: center;
    flex-direction: column;

    .profile-top {
        border-radius: $s1;

        .profile-top-container {
            position: relative;

            .profile-cover-wrapper {
                position: relative;

                .profile-cover-form {
                    // form {
                    //     position: absolute;
                    //     bottom: 16px;
                    //     right: 16px;

                    //     label {
                    //         span {
                    //             @include breakpoint-md {
                    //                 display: none;
                    //             }
                    //         }
                    //     }
                    // }

                    .divpc {
                        position: absolute;
                        bottom: 16px;
                        right: 16px;

                        // label {
                        //     span {
                        //         @include breakpoint-md {
                        //             display: none;
                        //         }
                        //     }
                        // }
                    }
                }
            }

            .profile-picture-container {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 6px solid $gray-200;
                background-color: $gray-300;

                @include breakpoint-lg {
                    top: 72%;
                }

                @include breakpoint-md {
                    top: 68%;
                }

                @include breakpoint-sm {
                    top: 60%;
                }

                .profile-picture-wrapper {
                    position: relative;

                    .profile-picture-form {
                        // form {
                        //     position: absolute;
                        //     top: 80%;
                        //     left: 70%;

                        //     label {
                        //         span {
                        //             @include breakpoint-md {
                        //                 display: none;
                        //             }
                        //         }
                        //     }
                        // }

                        .divpp {
                            position: absolute;
                            top: 80%;
                            left: 70%;

                            // label {
                            //     span {
                            //         @include breakpoint-md {
                            //             display: none;
                            //         }
                            //     }
                            // }
                        }
                    }
                }
            }
        }
    }

    .profile-bottom {
        #divProfileTimeline {
            .horizontal-line {
                @include breakpoint-md-up {
                    display: none;
                }

                @include breakpoint-md {
                    display: block;
                }
            }
        }
    }
}